    <mat-card>
    <mat-card-header>
        <mat-card-title>Mask de Création d'un Employé </mat-card-title>
        </mat-card-header>
    <mat-card-content  >
     
     
        
      <form  [formGroup]="employeform"  (ngSubmit)="creationEmploye()" >
    
    
          
    <div class="container-form">
         
      
       
    
    
    
     
        
      <div>
        <mat-form-field  appearance="outline"  >
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline" >
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="prenom">
      </mat-form-field>
</div>
   

<div> 
         <mat-form-field class="full-width" appearance="outline" >
        <mat-label>Nss</mat-label>
        <input  matInput  formControlName="nss">
  </mat-form-field>
 
  
  <mat-form-field  class="full-width" >
        <mat-label>Matricule</mat-label>
        <input matInput type="text" formControlName="matricule">
  </mat-form-field>
 </div>

 <div>
  <mat-label>Sexe</mat-label>
  <mat-radio-group formControlName="sexe" class="radio-group">
  <mat-radio-button value="Homme">Homme</mat-radio-button>
  <mat-radio-button value="Femme">Femme</mat-radio-button>
  </mat-radio-group>
  
 </div>

  <div> 
  <mat-form-field >
  <mat-label>Date de naissance</mat-label>
  <input matInput       [matDatepicker]="picker1" formControlName="datenaissance">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field >
  <mat-label>Date de recrutement</mat-label>
  <input matInput [matDatepicker]="picker2" formControlName="daterecrutement">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
       
  

</div> 

     
      <mat-form-field class="full-width" >
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="adresse_1">
      </mat-form-field>
      <div> 
      <mat-form-field class="full-width" >
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      
      <mat-form-field class="full-width" >
        <mat-label>Téléphone Mobile :</mat-label>
        <input matInput formControlName="telephone">
      </mat-form-field>
    </div>
     

    

      
     
    </div>
 
  <div>  
  
  <mat-form-field appearance="outline"  >
          <mat-label>Structure ID</mat-label>
             <mat-select formControlName="structureId" >
             <mat-option *ngFor="let structure of structures" [value]="structure.idstructure">
             {{ structure.libelle}}
              </mat-option>
             </mat-select>
 </mat-form-field>

    <mat-form-field  appearance="outline" >
         <mat-label>Poste Travail ID</mat-label>
        <mat-select formControlName="postetravailId">
        @for (poste of postetravails; track poste) {
          <mat-option  [value]="poste.id" >
            {{poste.libelle}} - {{poste.base}}
          </mat-option>
        }

        </mat-select>
        </mat-form-field>


      <mat-form-field  appearance="outline" >
         <mat-label>Code Paie</mat-label>
        <mat-select formControlName="codepaie">
        @for (codep of codepaies; track codep) {
          <mat-option  [value]="codep" >
            {{codep}}
          </mat-option>
        }

        </mat-select>
        </mat-form-field>

        <mat-form-field  appearance="outline" >
        <mat-label>Code IRG</mat-label>
        <mat-select formControlName="codeirg">
        @for (irg of codeirgs; track irg) {
          <mat-option  [value]="irg" >
            {{irg}}
          </mat-option>
        }

        </mat-select>
        </mat-form-field>


    </div>
    
    
    
    <div>
    <button type="submit"   mat-raised-button >
         <mat-icon>save</mat-icon>
        Créer</button>
   
    </div>


   

    </form>

    

   
    </mat-card-content>
    </mat-card>