/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer-toolbar{
flex: 1 1 auto;

}

.bouton-toolbar{
margin-right: 8px;

}


.mat-toolbar{
 background-color: #112c6a; /* Vert foncé */
  color: white; /* Important pour le contraste */
  display: flex;
  align-items: center;

}


.drawer-content-class{
   
    min-height: 600px;

}